body {
    font-family: sans-serif;
    margin: 0;
    width: 1000px;
    margin-left: 500px;
}

header {
    background-color: lightgray;
    height: 130px;
    border: 2px solid black;
    margin-top: 10px;
    font-stretch: condensed;
}

img {
    margin-left: 10px;
    margin-top: 10px;
    height: 90px;
    width: 90px;
}

header h1 {
    margin-left: 110px;
    margin-top: 10px;
    margin-bottom: -20px;
}

header h3 {
    margin-left: 110px;
}

.links {
    background-color: black;
    height: 38px;
}

.links a {
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 10px 15px;
}

.links a:hover {
    color: black;
    background-color: white;
}

aside {
    float: left;
    background-color: lightgray;
    margin-top: 15px;
}

.navigation {
    background-color: black;
    margin: 15px;
    padding-left: 0;
    padding-top: 10px;
}

.navigation li {
    list-style-type: none;
    margin-bottom: 15px;
    padding-bottom: 10px;
}

.navigation a {
    color: white;
    padding: 15px 30px;
    text-decoration: none;
}

.navigation a:hover {
    color: black;
    background-color: white;
    text-decoration: underline;
}

.main {
    margin-left: 290px;
}

.main h2 {
    margin-bottom: -10px;
}

.main ul {
    line-height: 1.5;
}

footer {
    height: 40px;
    background-color: black;
}